.addQuestion {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    border: 2px solid black;
    background-color: lightgray;
}

.questionBtnContainer {
    padding: 20px 0;
}

.questionBtnContainer label {
    margin-left: 10px;
}

.buttonsContainer {
    padding-top: 50px;
}

.questionFormContainer {
    padding-top: 20px;
}
