.Match {
  padding-top: 10px;
  text-align: center;
}

.Questions {
  padding-top: 20px;
  text-align: left;
}

.StartMatchButton {
  background-color: green;
  color: white;
  font-weight: bold;
  margin: 7px;
  top: 2px;
  width: 150px;
}

.SaveButton {
  font-weight: bold;
  margin: 7px;
  top: 2px;
  width: 150px;
}

.AddQ {
  font-weight: bold;
  border-radius: 30px;
  background-color: lightgrey;
}